html {
  background-color: rgb(255, 255, 255);
}

body {
  position:absolute;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
  padding-bottom: 200px;
}

.perth_skyline {
  margin: 0;
  padding: 0;
}

#map {
  height: 325px;
  width: 100%;
}

/* Description content media query */
/* @media only screen and (max-width: 100px) {
  /* override default class styling for positioning/padding */

  /* .description-content { */
    /* Box-model */
    /* padding: 0; */

    /* Positioning */
    /* margin-top: 0; */
  /* } */
/* } */ */

/* ----DESCRIPTION END---- */