<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Perth house prices</title>

    <!-- Our Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>


  </head>

  <body>
    <div class="row"> 
        <img class="perth_skyline" src="/static/img/Perth_skyline.png"></a>
        <!-- <img class="perth_skyline" src="static/img/perth_skyline_header.jpg"></a> -->
    </div>
    <p></p>

    <div class="row">
        <div>
            <h1>
                House prices in Perth
            </h1>
        </div>
    </div>  
    <div class="container">
        <section class="row">
            <div class="col-8">
                <div id="map">
                </div>
            </div>
            <div class="col-4">
                <section>
                    <div>
                        <h3>My house will have:</h3>
                        <hr>
                        <form>
                            <p>
                                <div class="form-group row">
                                    <label class="col-6 col-form-label-small">Max. price ($):</label>
                                        <input class="col-6" type="text" name="housePrice" placeholder="600000">
                                </div>
                            </p>
                                <div class="form-group row">
                                    <label class="col-6 col-form-label-small">Min. lot size (m<sup>2</sup>):</label>
                                        <input class="col-6" type="text" name="housePlot" placeholder="500">
                                </div>
                            <p>
                                <div class="form-group row">
                                    <label class="col-6 col-form-label-small">Bedrooms (#):</label>
                                        <input class="col-6" type="text" name="houseBedrooms" placeholder="4">
                                </div>
                            </p>
                            <p>
                                <div class="form-group row">
                                    <label class="col-6 col-form-label-small">Bathrooms (#):</label>
                                        <input class="col-6" type="text" name="houseBathrooms" placeholder="2">
                                </div>
                            </p>
                            <p>
                                <div class="form-group row">
                                    <label class="col-6 col-form-label-small">Expected purchase date:</label>
                                        <input class="col-6" type="text" name="houseDate" placeholder="MM/YYYY">
                                </div>
                            </p>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Show me where!<a href="/send">{{results}}</a></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </section>
    </div>

</body>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- API key -->
    <script type="text/javascript" src="/static/js/config.js"></script>

    <!-- Our JS -->
    <script type="text/javascript" src="/static/js/logic.js"></script>
</html>
